<div class="main">
  <h1>Subtree of Life</h1>
  <p>On this page, you can find the relationships between different species. Search for a species and click on it to add it to the tree.</p>
  <p>The relationship between the species will be shown in a tree.</p>
  <p>Here are some examples.</p>
  <div class="gallery">
    <div>
      <h2><a href="/?uids=70819,247333,490099,563166,696268,729998">Domestic animals</a></h2>
      <p>How are cat, dog, chicken, cow, pig, and sheep related?</p>
    </div>
    <div>
      <h2><a href="/?uids=31926,605194,657948,709894,1079445">Edible grasses</a></h2>
      <p>Did you know that maize, wheat, rice, barley, and millet are grasses?<p>
    </div>
    <div>
      <h2><a href="/?uids=75257,110737,111449,111540,157714,162647,186590,231579,240840,262721,316756,321275,343979,518286,564405,567825,581130,581149,672877,735797,760434,769029,789172,868676,1044751">Higher fungi</a></h2>
      <p>There are many more mushrooms than just the common mushroom.</p>
    </div>
    <div>
      <h2><a href="/?uids=8870,40295,138420,214363,331364,332073,374051,390152,406789,644696,664431,826664,903082,989049,1079578,6032194">Salty plants</a></h2>
      <p>Some plants have learned to deal with salt water. But they are not closely related.</p>
    </div>
    <div>
      <h2><a href="/?uids=16033,29500,67819,78477,125649,176555,189832,278108,339033,352914,361838,392223,417950,417953,543718,544595,570376,574734,623671,641033,641212,644242,702142,746703,760169,770295,773483,801615,842868,844192,847446,852679,863768,864593,933322,962396,987670,996421,1064655,4661634,5257442,5337405,5341349,5923995">The Ancestor's Tale</a></h2>
      <p><q>The Ancestor's Tale: A Pilgrimage to the Dawn of Life</q> is a book by Richard Dawkins about the ancestors of all humans. It talks about many species and the ancestors that they share with humans. It was the inspiration for this website.</p>
    </div>
  </div>
</div>
