<html lang="{{i18n.lang}}">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {%- if params.search.is_empty() -%}
      {%- match taxon_info.values().next() -%}
      {%- when Some(a) -%}
        <title>{{a.name}} et al. in Subtree of Life</title>
      {%- when None -%}
        <title>Subtree of Life</title>
      {%- endmatch -%}
    {%- else -%}
      <title>Subtree of Life search '{{params.search}}'</title>
    {%- endif -%}
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/normalize.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
          <a href="/" title="Subtree of Life">SoL</a>
      </div>
      <div class="search-form">
        <form action=".">
          <input name="search" type="text" size="14" value="{{params.search}}" />
          <input name="uids" type="hidden" value="{{params.uids()}}" />
          <input name="lang" type="hidden" value="{{params.lang.to_string()}}" />
          <button type="submit">{{i18n.t("Search")}}</button>
        </form>
      </div>
      <div class="language-choice">
        {% for lang in ["de", "en", "fr", "nl"] %}
          {% if params.lang.starts_with(lang) %}
            <span >{{lang}}</span>
          {% else %}
            <a href="{{params.lang_query(lang)}}">{{lang}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
