{% extends "base.html" %}
{% block content %}
  {% if results.is_empty() && !params.search.is_empty() %}
    <div>{{i18n.t("no-results")}}</div>
  {% else if !results.is_empty() %}
    <div class="search_results">
      {% for uid in results %}
        {% if taxon_info.contains_key(uid) %}
          {% set info = taxon_info[uid] %}
          {% set classes = "search_result" %}
          {% set add_link = params.add_taxon_query(uid) %}
          {% set remove_link = "" %}
          {%- include "taxon_info.html" %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if results.is_empty() %}
    <div class="table-tree">
      {%- include "table_tree.html" %}
    </div>
  {% endif %}
{% endblock content %}
