<table class="taxon_table">
  {% for row in table_tree %}
    <tr>
      {% for cell in row %}
        {% if cell.space_before == 1 %}
          <td class="{{cell.spacer_class()}}"></td>
        {% else if cell.space_before > 1 %}
          <td class="{{cell.spacer_class()}}" colspan="{{cell.space_before}}"></td>
        {% endif %}
        {%- if taxon_info.contains_key(cell.node()) -%}
          <td class="taxon_cell {{cell.classes()}} {{cell.child_type()}}" colspan="{{cell.width}}" id="uid{{info.uid}}">
            {%- set info = taxon_info[cell.node()] -%}
            {%- set classes = format!("{} {}", cell.classes(), cell.child_taxon()) -%}
            {%- set add_link = "" -%}
            {%- set remove_link = params.remove_taxon_query(info.uid, graph) -%}
            {%- include "taxon_info.html" %}
          </td>
        {%- endif -%}
      {% endfor %}
    </tr>
  {% endfor %}
</table>
