<div class="taxon_box {{classes}}">
  {%- if !add_link.is_empty() -%}
    <div class="add_remove_button">
      <a title="{{i18n.t("add-this-taxon")}}" href="{{add_link}}#uid{{info.uid}}">+</a>
    </div>
  {%- endif -%}
  {%- if !remove_link.is_empty() -%}
    <div class="add_remove_button">
      <a title="{{i18n.t("remove-this-taxon")}}" href="{{remove_link}}">⨯</a>
    </div>
  {%- endif -%}
  <div>
    {%- if add_link.is_empty() -%}
      {%- include "taxon_name.html" %}
    {%- else -%}
    <a href="{{add_link}}#uid{{info.uid}}">
        {%- include "taxon_name.html" %}
      </a>
    {%- endif -%}
  </div>
  <div>
    {%- for (i, alias) in info.alias.iter().enumerate() -%}
      {%- if i > 0 -%}, {% endif -%}
      {{alias}}
    {%- endfor -%}
  </div>
  <div class="taxon_box_body">
    {% for image in info.images -%}
      {%- set name = askama::filters::urlencode(image.name)? -%}
      <a href="https://commons.wikimedia.org/wiki/File:{{name}}"><img src="/images/wiki/{{info.uid}}/{{name}}"
        {%- match image_sizes.get(image.name) -%}
        {%- when Some(size) %}
          width="{{size.0}}"
          height="{{size.1}}"
        {%- when None -%}
        {%- endmatch -%}
      /></a>
    {%- endfor %}
  </div>
  <div class="tile_footer">
    <div>
      {%- if !info.rank.as_str().is_empty() -%}
        {{i18n.t(info.rank.as_str())}}
      {%- endif -%}
    </div>
    <div>
      {%- match info.year -%}
      {%- when Some(year) -%}
        <span title="{{i18n.year_long(year)}}">{{i18n.year(year)}}</span>
      {%- when None -%}
      {%- endmatch -%}
    </div>
    <div>
      {%- match info.wiki_link -%}
      {%- when Some(wiki) -%}
        <a href="https://{{wiki.lang}}.wikipedia.org/wiki/{{wiki.name}}"><img class="wikipedia_logo" src="static/Wikipedia_W.svg" alt="information at wikipedia"/></a>
      {%- when None -%}
        <a href="https://tree.opentreeoflife.org/taxonomy/browse?id={{info.uid}}"><img class="wikipedia_logo" src="static/ott.png" alt="information at Open Tree of Life"/></a>
      {%- endmatch -%}
      {%- match info.gbif_id -%}
      {%- when Some(gbif) -%}
        <a href="https://www.gbif.org/species/{{gbif}}"><img class="wikipedia_logo" src="static/gbif.svg" alt="information at GBIF"/></a>
      {%- when None -%}
      {%- endmatch -%}
    </div>
  </div>
</div>
