{%- if info.rank.is_genus_or_lower() -%}
  {%- set var = info.rank.split_varietas(info.name) -%}
  <b>
    <i title="{{info.uid}}" lang="la">{{var.0}}</i>
    {%- if !var.1.is_empty() %}
      var. <i lang="la">{{var.1}}</i>
    {%- endif -%}
  </b>
{%- else -%}
  <b title="{{info.uid}}">{{info.name}}</b>
{%- endif -%}
