@import "treetable.scss";

div.header {
    width: calc(100vw - 32px);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
    background: #fee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding-left: 16px;
    padding-right: 16px;
    &> div {
        padding: 0;
    }
    div.logo {
    }
    div.search-form {
        flex: 2 1 auto;
    }
    div.language-choice {
    }
    form {
        margin-bottom: 0;
    }
}

body {
    padding-top: 3rem;
}

* {
    hyphens: auto;
}

div.main {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;

    >div.gallery {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}

.wikipedia_logo {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

.add_remove_button {
    position: absolute;
    background: white;
    right: 0;
    top: 0;
    display: none;
}

.add_remove_button > a {
    text-decoration: none;
}

div:hover > .add_remove_button {
    display: block;
}

div.search_result {
    /* needed to position the add_remove_button */
    position: relative;
}

.search_results {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.search_result {
    border: 1px solid #eeeeee;
}

/* info box */
div.taxon_box {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}
div.taxon_box_body {
    flex-grow: 1;
}
div.tile_footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5em;
}
