$primary_color: #000;
$node_gap: 1rem;
$connector_width: 1px;
$connector_style: solid;

table.taxon_table {
    border-collapse: collapse;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

table > tbody > tr > td.taxon_cell {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    position: relative;
    text-align: center;
    vertical-align: top;
    padding-top: calc(#{$node_gap} + #{$connector_width});
    padding-bottom: $node_gap;

    &.first_child:before, &.middle_child:before, &.last_child:before, &.border_spacer:before {
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        content: '';
        border-top: $connector_width $connector_style $primary_color;
        height: $connector_width;
    }
    &.first_child:before {
        width: calc(50% + #{$connector_width / 2});
        left: calc(50% - #{$connector_width / 2});
    }
    &.last_child:before {
        width: calc(50% + #{$connector_width / 2});
    }
    &.parent_taxon:after {
        position: absolute;
        display: block;
        height: calc(#{$node_gap} + #{$connector_width});
        left: calc(50% - #{$connector_width / 2});
        bottom: 0;
        content: '';
        border-left: $connector_width $connector_style $primary_color;
        width: $connector_width;
    }
    &:target > div {
        animation: background_fadeout 1s;
    }
    >div {
        position: relative;
        border: $connector_width $connector_style $primary_color;
        vertical-align: top;
        margin-left: 0.5 * $node_gap;
        margin-right: 0.5 * $node_gap;
        padding: 0.5 * $node_gap;

        &.parent_taxon {
            height: 100%;
        }
        &.child_taxon:before {
            position: absolute;
            display: block;
            height: calc(#{$node_gap} + #{$connector_width});
            left: calc(50% - #{$connector_width / 2});
            top: calc(-#{$node_gap} - #{$connector_width});
            content: '';
            border-left: $connector_width $connector_style $primary_color;
            width: $connector_width;
        }
    }
}

@keyframes background_fadeout {
    from { background-color: lightgray; }
    to   { background-color: white; }
}
